build*/
build_*/
CMakeFiles/
CMakeCache.txt
cmake-install.cmake
CTestTestfile.cmake
Testing/
_make/
_install/
*.dir/

*.deb
CPackConfig.cmake
CPackSourceConfig.cmake

*.sln
*.vcxproj*
*.vcproj*
*.user
.idea/
.vscode/
